[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = https://github.com/filecoin-project/filecoin-ffi.git
	branch = master
[submodule "extern/serialization-vectors"]
	path = extern/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors
[submodule "extern/test-vectors"]
	path = extern/test-vectors
	url = https://github.com/filecoin-project/test-vectors.git
[submodule "extern/fil-blst"]
	path = extern/fil-blst
	url = https://github.com/filecoin-project/fil-blst.git
[submodule "extern/oni"]
	path = extern/oni
	url = https://github.com/filecoin-project/oni
[submodule "extern/specs-actors"]
	path = extern/specs-actors
	url = git@gitlab.pixelplex.by:731-filecoin/specs-actors.git
[submodule "extern/evm-adapter"]
	path = extern/evm-adapter
	url = git@gitlab.pixelplex.by:731-filecoin/evm-adapter.git
[submodule "extern/go-state-types"]
	path = extern/go-state-types
	url = git@gitlab.pixelplex.by:731-filecoin/go-state-types.git
[submodule "extern/geth"]
	path = extern/go-ethereum
	url = git@gitlab.pixelplex.by:731-filecoin/geth.git
